name: CD Pipeline - Deploy Ordem Servico

on:
  push:
    branches:
      - 'main'

permissions:
  packages: write
  contents: write

jobs:
  publish-image:
    name: Publicar Imagem Ordem Servico no Docker Hub
    uses: ./.github/workflows/reusable-publish-docker.yml
    secrets: inherit
    with:
      image-name: alexmarquesfa/ordemservicooficina

  deploy-application:
    name: Deploy da Aplicação Ordem Servico no Kubernetes
    needs: [publish-image]
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    with:
      image-tag: ${{ needs.publish-image.outputs.image-tag }}
      environment: producao
      app-name: ordem-servico-app
      k8s-overlay-path: k8s/overlays/producao
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      EKS_CLUSTER_NAME: ${{ secrets.EKS_CLUSTER_NAME }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      RDS_URL: ${{ secrets.RDS_URL }}